@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

@font-face {
  font-family: 'Coiny-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Coiny-Regular.ttf);
}

@font-face {
  font-family: 'Inter_18pt-SemiBold';
  font-style: normal;
  font-size: 600;
  src: url(../assets/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: 'Inter_18pt-Medium';
  font-style: normal;
  font-size: 500;
  src: url(../assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
  font-family: 'WorkSans-ExtraBold';
  font-style: normal;
  font-size: 800;
  src: url(../assets/fonts/WorkSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-size: 400;
  src: url(../assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-size: 500;
  src: url(../assets/fonts/WorkSans-Medium.ttf);
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-size: 600;
  src: url(../assets/fonts/WorkSans-SemiBold.ttf);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
